.team-wave {
    width: 500px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.team-head {
    padding-bottom: 0px;
}

.team-body {
    padding-top: 50px;
}

.teams {
    text-align: center;
}

.our-team {
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #ede7e3;
    border-radius: 3%;
    margin-bottom: 20px;
    padding-bottom: 17px;
    width: 200px;
    height: 290px;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-top: 50px;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
}

/* This is the animation that comes down */
.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: #e29449;
    position: absolute;
    bottom: 150%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

/* Actual profile picture */
.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.9);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #16697a;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

.team-content {

}

.text-name {
    color: #4f4e4d;
    font-size: 1.5rem;
}

.text-title {
    color: #4f4e4d;
    font-size: 0.9rem;
}

.team-meet {
    width: 100px;
}

